In [1]:
import pandas as pd
import glob

from datetime import datetime

In [2]:
path = r'./data' # use your path
all_files = glob.glob(path + "/*.json")

li = []

for filename in all_files:
    df = pd.read_json(filename)
    li.append(df)

In [3]:
df = pd.concat(li, axis=0, ignore_index=True)

In [4]:
df.head()

   account   date                                               body
0  @amazon  Jun 3  Amazon stands in solidarity with the Black com...
1  @amazon  Jun 3  Amazon stands in solidarity with the Black com...
2  @amazon  Jun 3  Amazon stands in solidarity with the Black com...
3  @amazon  Jun 3  Amazon stands in solidarity with the Black com...
4  @amazon  Jun 3  Amazon stands in solidarity with the Black com...

In [5]:
df.drop_duplicates(inplace=True)

In [14]:
# add black data

path = r'./data/black' # use your path
all_files = glob.glob(path + "/*.json")

li = []

for filename in all_files:
    df_black = pd.read_json(filename)
    li.append(df_black)

In [15]:
df_black.head()

     account    date                                               body
0  @AbbVieUS  Jul 21  Uterine fibroids disproportionately affect Bla...
1  @AbbVieUS  Feb 24  RT @abbvie: What does #BlackHistoryMonth mean ...
2  @AbbVieUS  Jul 21  Uterine fibroids disproportionately affect Bla...
3  @AbbVieUS  Feb 24  RT @abbvie: What does #BlackHistoryMonth mean ...
4  @AbbVieUS  Jul 21  Uterine fibroids disproportionately affect Bla...

In [18]:
df_black.shape

(118, 3)

In [17]:
df_black.drop_duplicates(inplace=True)

In [19]:
# add diversity data

path = r'./data/diversity' # use your path
all_files = glob.glob(path + "/*.json")

li = []

for filename in all_files:
    df_diversity = pd.read_json(filename)
    li.append(df_diversity)

In [33]:
# joining the tables

df_final = pd.concat([df, df_black], ignore_index=True)

In [34]:
df_final['tweet_date'] = df_final.apply(lambda row: str(row['date']) + ' ' + str(2020), axis=1 )

In [35]:
df_final['account'] = df_final.apply(lambda row: row['account'][1:], axis=1)

In [24]:
df_final.to_csv('tweets.csv')

In [36]:
df_final.head()

,account,date,body,tweet_date
0,amazon,Jun 3,Amazon stands in solidarity with the Black com...,Jun 3 2020
1,biogen,Nov 19,"Our own Stephanie Dyson, VP, Head of Governmen...",Nov 19 2020
2,pfizer,Sep 22,"According to @AmericanCancer, Black men are ~1...",Sep 22 2020
3,pfizer,Sep 1,"#COVID19 disproportionately affects Black, Nat...",Sep 1 2020
4,regencycenters,Jun 3,We stand in solidarity with the Black communit...,Jun 3 2020